* {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 1px solid red;
    height: 100vh;
}

.grid {
    display: grid;
    width: clamp(400px, 80%, 1280px);
    background-color: lightslategray;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: dodgerblue;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 10px;
}