@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

img {
    height: 1em;
    width: 1em;
}

button {
    color: white;
    background-color: dodgerblue;
    border-radius: 25px;
    border: none;
    padding: 10px 25px;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 1px solid red;
    height: 100vh;
}

.grid {
    display: grid;
    width: clamp(400px, 80%, 1280px);
    background-color: rgb(161, 176, 194);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr) 20px;
}

.sidebar {
    background-color: dodgerblue;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 5fr;
}

.sidebar h1 {
    text-align: center;
    padding: 20px;
}

.sidebar-items {
    grid-column: 1 / 3;
}

.sidebar-icon {
    grid-column: 1 / 2;
}

.sidebar-text {
    grid-column: 2 / 3;
}

li {
    list-style: none;
    padding: 10px;
}

.header {
    background-color: white;
    border-top: 1px solid rgb(161, 176, 194);
    border-right: 1px solid rgb(161, 176, 194);
    padding: 10px 20px;
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.user-title {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.user-title img {
    height: 3em;
    width: 3em;
}

.header-buttons {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.header-buttons li {
    padding: none;
}

.search-bar p {
    display: inline;
}

.user-info {
    display: flex;
    justify-content: space-around;
}

input {
    border-style: solid;
    border: 0px;
    border-radius: 25px;
    background-color: lightgray;
    width: 80%;
    height: 50%;
    text-align: center;
}

.main-content {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px repeat(3, 3fr);
    gap: 15px;
    padding: 20px;
    overflow: auto;
}

.projects-title {    
    grid-column: 1/3;
    grid-row: 1/2;
}

.card {
    border-radius: 7px;
    background-color: white;
    border-left: 5px solid orange;
    padding: 20px 10px;
    box-shadow: 0px 2px 4px 2px rgb(110, 114, 119);
}

.card p {
    color: rgb(110, 114, 119);
    padding-bottom: 5px;
    font-size: .9em;
}

.announcements-grid {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 20px;
    display: grid;
}

.announcements-grid-title {
    grid-row: 1 / 2;
    padding-bottom: 5px;
}

.announcements {
    grid-row: 2 / 3;
    background-color: white;
    box-shadow:0px 2px 2px 2px rgb(110, 114, 119);
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
    border-radius: 7px;
}

.announcement-title {
    font-size: .9em;
    font-weight: bold;
}

.announcement-text {
    font-size: .75em;
    color: rgb(110, 114, 119);
}

.item-2 {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 20px;
}